* { color: white; }

body {
  background: url(../images/404_2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.font_404 {
  font-family: "Indie Flower";
  font-size: 10rem;
}

.p_not_found {
  margin-top: -60px;
}
