<aside class="bio">
  <div class="">
    <section class="bs1 center">
      <div class="">
        <img src="{{site.url}}/images/{{site.data.profile.image}}" class="personal-img">
      </div>

      <div class="name">
        <h2>{{site.data.profile.name}}</h2>
      </div>

      <div class="title">
        <h5>
          {{site.data.profile.occupation.title}} at
          <a href="{{site.data.profile.occupation.company.url}}">{{site.data.profile.occupation.company.name}}</a>
        </h5>
      </div>

      <div class="social-links center">
        <a href="{{site.data.profile.social.linkedin}}">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        <a href="{{site.data.profile.social.github}}">
          <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <a href="{{site.data.profile.social.facebook}}">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a href="{{site.data.profile.social.twitter}}">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
    </section>

    <section class="bs2">
      <div class="about">
        <p>
          I'm a Software Engineer, who's interested in web development and working on highly scalable and maintainable applications, worked with multiple web technologies, like Rails and Laravel, and with multiple programming languages, like C++, Ruby, Java, PHP and JS.
        </p>

        <p>
          I used to participate in multiple contests and competitions such as Facebook Hackercup, Google Codejam, IEEEXtreme and ACM ICPC competitions. I got bronze medal in the regional ACM ACPC competition and qualified to ACM ICPC 2017.
        </p>
      </div>
    </section>

    <section class="contact">
      {%- include contact.html -%}
    </section>
  </div>
</aside>
