<head>
  <title>{{site.title}}</title>
  {%- include metadata.html -%}

  <link rel='stylesheet' type="text/css" href="{{site.url}}/css/simple-grid.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.css">
  <link rel='stylesheet' type="text/css" href="{{site.url}}/css/kaushan-script-font.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/loader_styles.css">
  <link rel="shortcut icon" href="/favicons.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/default.css">

  <script src="{{site.url}}/js/jquery.min.js"></script>

  {%- if page.layout == 'post' -%}
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/posts.css">
    <link rel="stylesheet" type="text/css" href="{{site.url}}/css/monokai.css">
  {%- endif -%}
</head>
