<head>
  <title>{{site.name}}</title>
  <meta property="og:image" content="images/pp-img.jpg" />
  <link rel='stylesheet' type="text/css" href="{{site.url}}/css/simple-grid.min.css">
  <link rel='stylesheet' type="text/css" href="{{site.url}}/css/kaushan-script-font.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/index.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/loader_styles.css">
  <script src="{{site.url}}/js/jquery.min.js"></script>
</head>
