{%- if page.img_name -%}
  {%- assign img_name = page.img_name -%}
{%- else -%}
  {%- assign img_name = site.data.profile.image -%}
{%- endif -%}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@m_sayed15" />
<meta name="twitter:title" content="{{site.title}} | Software Engineer" />
<meta name="twitter:description" content="Mahmoud Sayed | Personal Website" />
<meta name="twitter:image" content="{{site.url}}/images/{{img_name}}" />

<meta property="og:url" content="{{site.url}}" />
<meta property="og:type" content="profile" />
<meta property="og:title" content="{{site.title}} | Software Engineer" />
<meta property="og:description" content="Mahmoud Sayed | Personal Website" />
<meta property="og:image" content="{{site.url}}/images/{{img_name}}" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="title" content="{{site.title}} | Software Engineer" />
<meta name="description" content="Software Engineer, who's interested in highly scalable and maintainable applications."
/>
<meta name="keywords" content="mahmoud, sayed, mahmoud sayed, software engineer">
<meta name="robots" content="index,follow">
