<!DOCTYPE html>
<html>
  {%- include head.html -%}
  <body>
    {%- unless page.hide_header -%}
      {%- include header.html -%}
    {%- endunless -%}
    {%- include loader.html -%}

    <div class="container">
      {{ content }}
    </div>

    <script>
      $(document).ready(function() {
        // make all links open in a new tab unless they are internal paths.
        $('a').each(function() {
          if(!$(this).parent().hasClass('internal-link') && !$(this).hasClass('internal-link')) {
            $(this).attr('target', '_blank');
          }
        })
      });
    </script>

    <script>
      $(document).ready(function() {
        var interval = setInterval(function() {
          if(document.readyState === 'complete') {
              clearInterval(interval);
              // alert('done');

              var ovrl = document.getElementById("overlay");
              ovrl.style.opacity = 0;
              setTimeout(function(){
                ovrl.style.display = "none";
              }, 1200);
          }
        });
      });
    </script>
  </body>
</html>
