<!DOCTYPE html>
<html>
  {%- include head.html -%}
  <body>
    {%- include loader.html -%}
    {%- include header_bar.html -%}

    <div class="container">
      {%- unless page.hide_bio -%}
        {%- include bio.html -%}
      {%- endunless -%}

      <div class="content">
        {{ content }}

        <div class="contact-bottom">
          {%- include contact.html -%}
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        // make all links open in a new tab unless when they are internal paths.
        $('a').each(function() {
          if(!$(this).parent().hasClass('internal-link') && !$(this).hasClass('internal-link')) {
            $(this).attr('target', '_blank');
          }
        })
      });
    </script>

    <script>
      $(document).ready(function() {
        var interval = setInterval(function() {
          if(document.readyState === 'complete') {
            clearInterval(interval);

            var ovrl = document.getElementById("overlay");
            ovrl.style.opacity = 0;
            setTimeout(function(){
              ovrl.style.display = "none";
            }, 1200);
          }
        });
      });
    </script>
  </body>
</html>
