---
layout: default
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<div class="row">
  <div class="col-12 post">
    <div class="post-preview">
      <div class="post-header">
        <h2 class="title">{{ page.title | escape }}</h2>
        <span class="date">{{ page.date | date: date_format }}</span>
      </div>

      <hr>

      <div class="body">
        {{ content }}
      </div>

      <div class="center more-posts">
        <a class="internal-link" href="/">More posts</a>
      </div>
    </div>
  </div>
<div>
